#bar > button {
  background-color: #222222;
  padding-top: 5px;
  border: 2px solid #121212;
}
#bar > button:hover{
  background-color: #3075b9;
  filter: brightness(30%);
  cursor: pointer;
}
#bar > button:active{
  filter: brightness(20%);
}
#bar > button > svg, #bar > button > span {
  color: #FFFFFF;
  fill: #FFFFFF;
}
#bar > label {
  user-select: none;
}

#text > div{
  background-color:rgba(0.5,0.5,0.5,0);
  position: fixed;
  left:500px;
  top:500px;
}

button{
  margin: 1px;
  padding: 5px;
  height: 30px;
  width: 30px;
}